#Home {
  width: 100%;
  font-size: 0.16rem;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .banner {
    width: 100%;
    overflow: hidden;
    border-bottom: 0.05rem solid #e4e4e4;

    .loopbanner {
      img {
        width: 100%;
        box-sizing: border-box;
        padding: 0.1rem;
      }
    }

    .bannerlist {
      width: 100%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 0.1rem;
      box-sizing: border-box;

      li {
        flex: 1;

        a {
          color: #666;
        }

        img {
          width: 0.25rem;
        }

        p {
          font-size: 0.14rem;
          line-height: 0.3rem;
        }
      }
    }
  }

  .fourimg {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem;
    border-bottom: 0.05rem solid #e4e4e4;

    ul {
      width: 45%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      li {
        width: 100%;

        img {
          display: block;
          width: 100%;
        }
      }
    }

    .bigimg {
      width: 50%;

      img {
        width: 100%;
      }
    }
  }

  .twoimg {
    width: 100%;
    box-sizing: border-box;
    padding: 0.1rem 0.1rem 0;
    border-bottom: 0.05rem solid #e4e4e4;

    li {
      width: 100%;
      margin-bottom: 0.1rem;

      img {
        width: 100%;
      }
    }
  }
}